%div.btn-group.list-inline.category-tab-menu
  %li.btn.active
    = link_to '全カテゴリ'
  %li.btn
    = link_to 'バカ'
  %li.btn
    = link_to 'シュール'
  %li.btn
    = link_to 'お下劣'
  %li.btn
    = link_to 'ブラック'
  %li.btn
    = link_to '身内'
  %li.btn
    = link_to '例え'
  %li.btn
    = link_to 'その他'
