= simple_form_for(@boke) do |f|
  = f.error_notification

  = f.input :text, input_html: {class: 'form-group'}
  = f.input :tag
  = f.association :category, as: :radio_buttons

  .form-actions
    = f.button :submit
