- breadcrumb breadcrumbs_for_bokes(params[:tab])

.row
  .col-md-8
    = render 'bokes_tabs'
    .wrapper
      %h2 このお題でボケる

      .boke
        .boke-photo
          .boke-photo-content
            = link_to theme_path(@theme) do
              = image_tag @theme.image_url
            .boke-photo-meta
              = link_to member_path(@theme.user) do
                %span.fa.fa-camera{title: 'photo by'}
                = "photo by #{@theme.user.try(:nickname)}"
              &nbsp;
              = link_to member_path(@theme.user) do
                %span.fa.fa-picture-o{title: 'odai by'}
                = "odai by #{@theme.user.try(:nickname)}"

      .new-boke-form
        = render 'form'

  .col-md-4
    = render 'widget'
