- breadcrumb breadcrumbs_for_bokes(params[:tab])

.row
  .col-md-8
    = render 'theme_tabs'
    .wrapper.clearfix
      #masonry-container.theme
        .mas-box.pin.clearfix
          .theme-inner
            %h3
              %a{href: '#'} 5 個のボケ
            .theme-photo-wrapper
              %a.theme-photo{href: '#'}
                = image_tag "//d2dcan0armyq93.cloudfront.net/photo/odai/600/b58aff5d35350781983e4a60d814a62c_600.jpg"
            .theme-meta
              %a{href: '#'}
                %i.fa.fa-camera{title: 'photo by'} RogerGoun
              &nbsp;
              %a{href: "#"}
                %i.fa.fa-picture-o{title: 'odai by'} ¥390

        .mas-box.pin.clearfix
          .theme-inner
            %h3
              %a{href: '#'} 2 個のボケ
            .theme-photo-wrapper
              %a.theme-photo{href: '#'}
                = image_tag "//d2dcan0armyq93.cloudfront.net/photo/odai/600/6da1c718af364d15ce17fb2cc26b594a_600.jpg"
            .theme-meta
              %a{href: '#'}
                %i.fa.fa-camera{title: 'photo by'} RogerGoun
              &nbsp;
              %a{href: "#"}
                %i.fa.fa-picture-o{title: 'odai by'} ¥390
        .mas-box.pin.clearfix
          .theme-inner
            %h3
              %a{href: '#'} 6 個のボケ
            .theme-photo-wrapper
              %a.theme-photo{href: '#'}
                = image_tag "//d2dcan0armyq93.cloudfront.net/photo/odai/600/fe4d501b2891e77709e78abce12c2914_600.jpg"
            .theme-meta
              %a{href: '#'}
                %i.fa.fa-camera{title: 'photo by'} RogerGoun
              &nbsp;
              %a{href: "#"}
                %i.fa.fa-picture-o{title: 'odai by'} ¥390
        .mas-box.pin.clearfix
          .theme-inner
            %h3
              %a{href: '#'} 4 個のボケ
            .theme-photo-wrapper
              %a.theme-photo{href: '#'}
                = image_tag "//d2dcan0armyq93.cloudfront.net/photo/odai/600/dd0f4e6a3f05da294b1738cfa0ed0a01_600.jpg"
            .theme-meta
              %a{href: '#'}
                %i.fa.fa-camera{title: 'photo by'} RogerGoun
              &nbsp;
              %a{href: "#"}
                %i.fa.fa-picture-o{title: 'odai by'} ¥390

  .col-md-4
    = render 'widget'

