- breadcrumb breadcrumbs_for_bokes(params[:tab])

.row
  .col-md-8
    = render 'bokes_tabs'

    .wrapper.clearfix
      %h2 人気ボケ

      = render partial: 'boke', locals: {boke: @popular}

      - if @popular
        .text-center
          = link_to 'もっとみる', bokes_path(tab: 'popular'), class: 'btn btn-warning btn-long'
      - else
        %p.alert.alert-danger 3日以内に投稿されたボケがありません。

      %h2.index-title 注目ボケ

      - @hots.each_with_index do |boke, i|
        .boke-horizon.col-md-4
          = link_to boke_path(boke), class: 'photo' do
            = image_tag boke.theme.image_url
          .photo-meta
            = link_to member_path(boke.theme.user) do
              %span.fa.fa-camera{title: 'photo by'}
              = "photo by #{boke.theme.user.try(:nickname)}"
            &nbsp;
            = link_to member_path(boke.theme.user) do
              %span.fa.fa-picture-o{title: 'odai by'}
              = "odai by #{boke.theme.user.try(:nickname)}"

          .text= boke.text
          .rating
            %a{href: "/boke/36699959"}
              %i.fa.fa-star.fa-lg
              &nbsp;
              %b 1,357
        - if i % 3  == 0
          .clear

      - if @hots.count > 0
        .text-center.clearfix
          = link_to 'もっとみる', bokes_path(tab: 'hot'), class: 'btn btn-warning btn-long'
      - else
        %p.alert.alert-danger 12時間以内に投稿されたボケがありません。

      %h2 新着ボケ

      - 1.step(6) do |i|
        .boke-horizon.col-md-4
          %a.photo{href: "/boke/36699959"}
            %img{src: "//d2dcan0armyq93.cloudfront.net/photo/odai/600/d706a89dadfe97fdac87ef9dfb866273_600.jpg"}
          .photo-meta
            %a{href: "/user/Yuki1984"}
              %span.fa.fa-camera{title: "photo by"}
                ユキ
            %a{href: "/user/Yuki1984"}
              %span.fa.fa-picture-o{title: "oday by"}
                ユキ
          .text ーとなんじゃねーの？どんだけ暇だよ
          .rating
            %a{href: "/boke/36699959"}
              %i.fa.fa-star.fa-lg
              &nbsp;
            %b 1,357

        - if i % 3  == 0
          .clear


      .text-center.clearfix
        = link_to 'もっとみる', bokes_path(tab: 'hot'), class: 'btn btn-warning btn-long'

  .col-md-4
    = render 'widget'
