- breadcrumb breadcrumbs_for_bokes(params[:tab])

.row
  .col-md-8
    = render 'bokes_tabs'

    .wrapper.clearfix
      %h2 人気ボケ

      = render partial: 'boke', locals: {boke: @popular}

      - if @popular
        .text-center
          = link_to 'もっとみる', bokes_path(tab: 'popular'), class: 'btn btn-warning btn-long'
      - else
        %p.alert.alert-danger 3日以内に投稿されたボケがありません。

      %h2.index-title 注目ボケ
      - @hots.each_with_index do |boke, i|
        = render partial: 'application/boke_horizon', locals: { boke: boke, i: i }
      - if @hots.count > 0
        .text-center.clearfix
          = link_to 'もっとみる', bokes_path(tab: 'hot'), class: 'btn btn-warning btn-long'
      - else
        %p.alert.alert-danger 12時間以内に投稿されたボケがありません。

      %h2 新着ボケ
      - @recents.each_with_index do |boke, i|
        = render partial: 'application/boke_horizon', locals: { boke: boke, i: i }
      .text-center.clearfix
        = link_to 'もっとみる', bokes_path, class: 'btn btn-warning btn-long'

  .col-md-4
    = render 'widget'
