!!!
%html{lang: 'ja'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv': "X-UA-Compatible"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title ボケて（clone） - 写真で一言ボケるWebサービス
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar", 'aria-expanded': false, 'aria-controls': "navbar"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          #logo.navbar-brand
            = link_to 'bokete', root_path
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-left
            %li
              = link_to 'ボケ', '#'
            %li
              = link_to 'お題', '#'
            %li
              = link_to '職人', '#'
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                = link_to current_user.try(:name), '#'
              %li
                = link_to 'マイページ', accounts_path
            - else
              %li
                = link_to '新規登録', new_registration_path('user')
              %li
                = link_to 'ログイン', user_session_path
    .container{role: 'main'}
      .row
        .col-md-12
          .pull-left.breadcrumb= breadcrumbs
          .pull-right.ratings
            %ul.list-inline
              %li
                ボケ投稿数
                %span.post-count 100件
              %li
                お題投稿数
                %span.post-count 1,709,777件
      #contents
        .row.flash-message
          .col-md-12
            - if notice
              %div{class: 'alert alert-info alert-dismissable', role: 'alert'}
                %button.close{type: 'button', 'data-dismiss': 'alert', 'aria-label': 'Close'}
                  %span{'aria-hidden': 'true'} &times;
                = notice
            - if alert
              %div{class: 'alert alert-warning alert-dismissable', role: 'alert'}
                %button.close{type: 'button', 'data-dismiss': 'alert', 'aria-label': 'Close'}
                  %span{'aria-hidden': true} &times;
                = alert
        = yield
    #footer.container
      %ul.list-inline
        %li
          %a 運営会社
        %li
          %a プライバシーポリシー
        %li
          %a ご利用規約
        %li
          %a ヘルプ・よくある質問
        %li
          %a お問い合わせ
      %address
        Copyright &copy; ボケて (clone) All rights reserved Company
