- breadcrumb :accounts

.row
  .col-md-9
    = render 'tabs'

    .wrapper
      %h2= "#{@user.nickname}さんの投稿したボケ"
      = render 'bokes'
      .text-center
        = paginate(@bokes)

  .col-md-3.no-padding
    = render 'widget'
