- breadcrumb :accounts

.row
  .col-md-9
    = render 'tabs'

    .wrapper
      .row.profile
        .col-sm-4.col-xs-12
          .avatar
            - if @user.avatar.url
              = image_tag(@user.avatar.url, {class: 'img-circle'})
            - else
              = image_tag('no-image.jpg', {class: 'img-circle'})
        .col-sm-8.col-xs-12
          .detail
            %h3= "#{@user.nickname}さんのページ"
            %table.table
              %tr
                %th
                  %i.fa.fa-check ボケてID
                %td= @user.name
              - if @user.sex && !@user.sex_secret
                %tr
                  %th
                    %i.fa.fa-user &nbsp;性別
                  %td= display_sex(@user.sex)
              - if @user.pref && !@user.pref_secret
                %tr
                  %th
                    %i.fa.fa-map-marker &nbsp;都道府県
                  %td= Pref.find(@user.pref).name
              - if @user.birthday && !@user.birthday_secret
                %tr
                  %th
                    %i.fa.fa-heart &nbsp;生年月日
                  %td= l @user.birthday, format: :long
              %tr
                %th
                  %i.fa.fa-star &nbsp;星の合計
                %td= @user.ratings_count
              %tr
                %th
                  %i.fa.fa-comment &nbsp;ボケの投稿数
                %td= @user.bokes_count
              %tr
                %th
                  %i.fa.fa-picture-o &nbsp;お題投稿数
                %td= @user.themes_count
              %tr
                %th
                  %i.fa.fa-pencil &nbsp;プロフィール
                %td= simple_format @user.profile
      .row.profile-boke
        %h2= "#{@user.nickname}さんの投稿したボケ"
        - 1.step(3) do |i|
          .boke-horizon.col-md-4
            %a.photo{href: "/boke/36699959"}
              %img{src: "//d2dcan0armyq93.cloudfront.net/photo/odai/600/d706a89dadfe97fdac87ef9dfb866273_600.jpg"}
            .photo-meta
              %a{href: "/user/Yuki1984"}
                %span.fa.fa-camera{title: "photo by"}
                  ユキ
              %a{href: "/user/Yuki1984"}
                %span.fa.fa-picture-o{title: "oday by"}
                  ユキ
            .text ーとなんじゃねーの？どんだけ暇だよ
            .rating
              %a{href: "/boke/36699959"}
                %i.fa.fa-star.fa-lg
                &nbsp;
                %b 1,357
          - if i % 3  == 0
            .clear

        .text-right
          = link_to "#{@user.nickname}さんのボケをもっとみる", bokes_member_path

      .row.profile-boke
        %h2= "#{@user.nickname}さんが最近評価したボケ"

        - 1.step(6) do |i|
          .boke-horizon.col-md-4
            %a.photo{href: "/boke/36699959"}
              %img{src: "//d2dcan0armyq93.cloudfront.net/photo/odai/600/d706a89dadfe97fdac87ef9dfb866273_600.jpg"}
            .photo-meta
              %a{href: "/user/Yuki1984"}
                %span.fa.fa-camera{title: "photo by"}
                  ユキ
              %a{href: "/user/Yuki1984"}
                %span.fa.fa-picture-o{title: "oday by"}
                  ユキ
            .text ーとなんじゃねーの？どんだけ暇だよ
            .rating
              %a{href: "/boke/36699959"}
                %i.fa.fa-star.fa-lg
                &nbsp;
                %b 1,357
          - if i % 3  == 0
            .clear

        .text-right
          = link_to "#{@user.nickname}さんの評価したボケをもっとみる", ratings_member_path

  .col-md-3.no-padding
    = render 'widget'
