- breadcrumb :accounts

.row
  .col-md-9
    = render 'tabs'

    .wrapper
      = render 'category_tab_menu'
      %h2 メールアドレスの変更
      .horizontal-form-wapper
        = simple_form_for @user, url: accounts_path do |f|
          = f.error_notification
          .form-group.clearfix
            = f.label :email, '新しいメールアドレス', class: 'col-sm-3 text-right'
            .col-sm-9
              = f.input_field :email, class: 'form-control'

          .form-actions.text-center
            = f.button :submit, "更新", class: 'btn btn-warning'
  .col-md-3.no-padding
    = render 'widget'
