- breadcrumb :accounts

.row
  .wrapper.col-md-12
    %h2 パスワードの変更
    .horizontal-form-wapper
      = simple_form_for @user, url: accounts_path do |f|
        = f.error_notification
        .form-group.clearfix
          = f.label :current_password, class: 'col-sm-6 text-right'
          .col-sm-6
            = f.input_field :current_password, class: 'form-control'
        .form-group.clearfix
          = f.label :password, '新しいパスワード（4文字以上20文字以内）', class: 'col-sm-6 text-right'
          .col-sm-6
            = f.input_field :password, required: true, class: 'form-control'
        .form-group.clearfix
          = f.label :password_confirmation, '新しいパスワードの確認', class: 'col-sm-6 text-right'
          .col-sm-6
            = f.input_field :password_confirmation, required: true, class: 'form-control'

        .form-actions.text-center
          = f.button :submit, "更新", class: 'btn btn-warning'
