- breadcrumb :accounts

.row
  .col-md-9
    = render 'tabs'

    .wrapper
      = render 'category_tab_menu'

      %h2 パスワードの変更
      .horizontal-form-wapper
        = simple_form_for @user, url: update_password_accounts_path do |f|
          = f.error_notification
          .form-group.clearfix{class: @user.errors[:current_password].any? ? 'has-error' : ''}
            = f.label :current_password, class: 'col-sm-6 text-right'
            .col-sm-6
              = f.input_field :current_password, class: 'form-control'
              = f.error :current_password
          .form-group.clearfix{class: @user.errors[:password].any? ? 'has-error' : ''}
            = f.label :password, '新しいパスワード（4文字以上20文字以内）', class: 'col-sm-6 text-right'
            .col-sm-6
              = f.input_field :password, required: true, class: 'form-control'
              = f.error :password
          .form-group.clearfix{class: @user.errors[:password_confirmation].any? ? 'has-error' : ''}
            = f.label :password_confirmation, '新しいパスワードの確認', class: 'col-sm-6 text-right'
            .col-sm-6
              = f.input_field :password_confirmation, required: true, class: 'form-control'
              = f.error :password_confirmation

          .form-actions.text-center
            = f.button :submit, "更新", class: 'btn btn-warning'

  .col-md-3.no-padding
    = render 'widget'
